.blog-page-component .button {
  padding: 0;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  color: #213547;
  transition: color 0s;
  text-transform: none;

  &:focus {
    outline: none !important;
  }
  &:hover {
    background-color: inherit;
    color: rgb(95 114 131);
  }
}
